<%= turbo_stream_from "stacks" %>

<div data-controller="log">
  <div class="container-fluid">
    <nav class="navbar text-bg-dark fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Supervisor 🚀</span>
      </div>
    </nav>
    <div class="row row-gap-3" id="main">
      <div class="col col-lg-7">
        <div class="card text-bg-dark">
          <div class="card-header">
            <h5>Stacks</h5>
            <span class="text-secondary">
              Total: <%= @stacks.count %> |
              Healthy:  <%= @stacks.select(&:healthy).count %> |
              Unhealthy: <%= @stacks.reject(&:healthy).count %>
            </span>
          </div>
          <div class="card-body">
            <table id="stacks" class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Name</th>
                  <th>Strategy</th>
                  <th>Last run</th>
                  <th>Processed</th>
                  <th>Failed</th>
                </tr>
              </thead>
              <tbody>
              <% @stacks.each do |stack| %>
                <%= render stack %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col col-lg-5">
      <turbo-frame id="log-frame" data-turbo-permanent>
        <% uuid = params[:uuid] || @stacks&.first&.uuid %>
        <% if uuid %>
          <% stack = Stack.find_by(uuid: uuid) %>
        <% end %>
        <div class="card text-bg-dark">
          <div class="card-header">
            <h5>Log</h5>
            <% if stack %>
            <span class="text-secondary"><%= stack.name %></span>
            <% end %>
          </div>
          <div class="card-body">
            <div id="logs">
              <pre><code><%= stack&.log(entries: 25)&.join("\n") || '' %></code></pre>
            </div>
        </div>
      </turbo-frame>
      </div>
    </div>
  </div>
  <input type="hidden" id="selected-uuid"
         data-log-target="selectedUuid"
         data-turbo-permanent
         value="<%= params[:uuid] || @stacks&.first&.uuid %>">
</div>
