<%= turbo_stream_from "stacks" %>

<div data-controller="log">
  <div class="container-fluid">
    <nav class="navbar text-bg-dark fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Supervisor 🚀</span>
        <span class="navbar-text text-secondary d-none d-sm-block host-info">
          <%= host_info %>
        </span>
      </div>
    </nav>
    <div class="row row-gap-2 row-gap-navbar row-gap-bottom">
      <div class="col col-lg-12">
        <div class="card text-bg-dark">
          <div class="card-header">
            <h5>Stacks</h5>
            <span class="text-secondary">
              Total: <%= @stacks.count %> |
              Healthy:  <%= @stacks.select(&:healthy).count %> |
              Unhealthy: <%= @stacks.reject(&:healthy).count %>
            </span>
          </div>
          <div class="card-body table-responsive">
            <table id="stacks" class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Name</th>
                  <th class="d-none d-sm-table-cell">Strategy</th>
                  <th class="d-none d-sm-table-cell">Last run</th>
                  <th class="d-none d-sm-table-cell">Last action</th>
                  <th class="d-none d-sm-table-cell">Processed</th>
                  <th class="d-none d-sm-table-cell">Failed</th>
                </tr>
              </thead>
              <tbody>
              <% @stacks.each do |stack| %>
                <%= render stack %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-gap-2 align-items-stretch">
      <div class="col col-lg-5">
        <% uuid = params[:uuid] || @stacks&.first&.uuid %>
        <% if uuid %>
          <% stack = Stack.find_by(uuid: uuid) %>
        <% end %>
        <div class="card text-bg-dark h-100">
          <div class="card-header">
            <h5>Details</h5>
            <% if stack %>
            <span class="text-secondary"><%= stack.uuid %></span>
            <% end %>
          </div>
          <div class="card-body table-responsive">
          <% if stack %>
            <% attributes = filter_secrets(stack.attributes) %>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Git Repository</td>
                  <td><%= link_to nil, attributes.git_repository, class: 'link-light' %></td>
                </tr>
                <tr>
                  <td>Git Reference</td>
                  <td><%= attributes.git_reference %></td>
                </tr>
                <% if attributes.git_username.present? %>
                <tr>
                  <td>Git Username</td>
                  <td><%= attributes.git_username %></td>
                </tr>
                <% end %>
                <% if attributes.git_token.present? %>
                <tr>
                  <td>Git Token</td>
                  <td><%= attributes['git_token'] %></td>
                <tr>
                  <td>Compose File</td>
                  <td><%= attributes.compose_file %></td>
                </tr>
                <% end %>
                <% if attributes.compose_includes.present? %>
                <tr>
                  <td>Compose Includes</td>
                  <td>
                    <ul class="table-ul">
                    <% attributes.compose_includes.each do |compose| %>
                      <li><%= compose %></li>
                    <% end %>
                    </ul>
                  </td>
                </tr>
                <% end %>
                <% if attributes.compose_variables.present? %>
                <tr>
                  <td>Compose Variables</td>
                  <td>
                    <ul class="table-ul">
                    <% attributes.compose_variables.each do |key, value| %>
                      <li><%= key %>=<%= value %></li>
                    <% end %>
                    </ul>
                  </td>
                </tr>
                <% end %>
                <% if attributes.strategy == 'webhook' %>
                  <tr>
                    <td>Signature Header</td>
                    <td><%= attributes.signature_header %></td>
                  </tr>
                  <tr>
                    <td>Signature Secret</td>
                    <td><%= attributes.signature_secret %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col col-lg-3">
      <turbo-frame id="log-frame" data-turbo-permanent>
        <% uuid = params[:uuid] || @stacks&.first&.uuid %>
        <% if uuid %>
          <% stack = Stack.find_by(uuid: uuid) %>
        <% end %>
        <div class="card text-bg-dark h-100">
          <div class="card-header">
            <h5>Logs</h5>
            <% if stack %>
            <span class="text-secondary"><%= stack.uuid %></span>
            <% end %>
          </div>
          <div class="card-body table-responsive">
            <div id="logs">
              <% if stack %>
                <table class="table table-dark table-hover">
                  <thead>
                    <tr>
                      <th>Run at</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% stack.log(entries: 10).each do |log| %>
                      <tr>
                        <td><%= log['run_at'] %></td>
                        <td><%= log['action'] %> <%= log['status'] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <p>
                  <% relpath = Pathname.new(stack.assets['log_file']).relative_path_from(Rails.root).to_s %>
                  <%= link_to "View all logs", relpath, class: "btn btn-primary btn-secondary", download: "#{stack.uuid}.log" %>
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </turbo-frame>
    </div>
    <div class="col col-lg-4">
      <turbo-frame id="statistics-frame" data-turbo-permanent>
      <% uuid = params[:uuid] || @stacks&.first&.uuid %>
      <% if uuid %>
        <% stack = Stack.find_by(uuid: uuid) %>
      <% end %>
      <div class="card text-bg-dark h-100">
        <div class="card-header">
          <h5>Statistics</h5>
          <% if stack %>
          <span class="text-secondary"><%= stack.uuid %></span>
          <% end %>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center">
          <% if stack %>
            <%
              log = stack.log(entries: 10)
              actions = log.group_by { |entry| entry['action'] }.map { |k, v| [k, v.count] }
            %>
            <%=
              pie_chart actions,
                legend: 'left',
                donut: true,
                dataset: { borderWidth: 0, cutout: '75%' },
                library: { plugins: { legend: { labels: { usePointStyle: true } } } },
                loading: ''
            %>
          <% end %>
        </div>
      </div>
      </turbo-frame>
    </div>
  </div>
  <input type="hidden" id="selected-uuid"
         data-log-target="selectedUuid"
         data-turbo-permanent
         value="<%= params[:uuid] || @stacks&.first&.uuid %>">
</div>
