<%= turbo_stream_from "stacks" %>

<div data-controller="log">
  <div class="container-fluid">
    <nav class="navbar text-bg-dark fixed-top" data-bs-theme="dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Supervisor 🚀</span>
        <span class="navbar-text text-secondary d-none d-sm-block host-info">
          <%= host_info %>
        </span>
      </div>
    </nav>
    <div class="row row-gap-2 row-gap-navbar row-gap-bottom">
      <div class="col col-lg-12">
        <div class="card text-bg-dark">
          <div class="card-header">
            <h5>Stacks</h5>
            <span class="text-secondary">
              Total: <%= @stacks.count %> |
              Healthy:  <%= @stacks.select(&:healthy).count %> |
              Unhealthy: <%= @stacks.reject(&:healthy).count %>
            </span>
          </div>
          <div class="card-body table-responsive">
            <table id="stacks" class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Name</th>
                  <th class="d-none d-sm-table-cell">Strategy</th>
                  <th class="d-none d-sm-table-cell">Last run</th>
                  <th class="d-none d-sm-table-cell">Last action</th>
                  <th class="d-none d-sm-table-cell">Processed</th>
                  <th class="d-none d-sm-table-cell">Failed</th>
                </tr>
              </thead>
              <tbody>
              <% @stacks.each do |stack| %>
                <%= render stack %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-gap-2 align-items-stretch">
    <%
      uuid = params[:uuid] || @stacks&.first&.uuid
      if uuid
        stack = Stack.find_by(uuid: uuid)
      end
    %>
      <div class="col col-lg-5">
        <%= render partial: "stacks/details", locals: { stack: stack } %>
      </div>
      <div class="col col-lg-3">
      <turbo-frame id="log-frame" data-turbo-permanent>
        <%= render partial: "stacks/logs", locals: { stack: stack } %>
      </turbo-frame>
    </div>
    <div class="col col-lg-4">
      <turbo-frame id="statistics-frame" data-turbo-permanent>
        <%= render partial: "stacks/statistics", locals: { stack: stack } %>
      </turbo-frame>
    </div>
  </div>
  <input type="hidden" id="selected-uuid"
         data-log-target="selectedUuid"
         data-turbo-permanent
         value="<%= params[:uuid] || @stacks&.first&.uuid %>">
</div>
