<%= turbo_stream_from stack %>

<tr id="<%= dom_id stack %>"
    onclick="window.location='<%= request.path + "?uuid=#{stack.uuid}" %>'"
    class="clickable-row">
  <td>
    <span data-uuid="<%= stack.uuid %>" data-turbo-frame="log-frame">
      <%= stack.uuid %>
    </span>
  </td>
  <td>
    <% if stack.healthy %>
      <span class="status status-healthy">
        <i class="fa-solid fa-bell"></i>
      </span>
    <% else %>
      <span class="status status-unhealthy">
        <i class="fa-solid fa-bell"></i>
      </span>
    <% end %>
  </td>
  <td><%= stack.name %></td>
  <td><%= stack.last_run %></td>
  <td><%= stack.processed %></td>
  <td><%= stack.failed %></td>
</tr>
