<!DOCTYPE html>
<html>
  <head>
    <title>Supervisor</title>
    <%= yield :head %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :reset %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
